.statistics {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.stat-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 10px 0;
    border-radius: 5px;
    color: white;
}

.label {
    font-size: 18px;
}

.percentage {
    font-size: 18px;
}

/* Specific colors for each file type */
.item.docx {
    background-color: #4aa8ff;
}

.item.pdf {
    background-color: #a34eff;
}

.item.mp3 {
    background-color: #ff4e5d;
}

.item.psd {
    background-color: #49c5b6;
}