.transaction-history {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.transaction-history thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.transaction-history th, .transaction-history td {
    padding: 12px 15px;
}

.transaction-history tbody tr {
    border-bottom: 1px solid #dddddd;
}

.transaction-history tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.transaction-history tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}